<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter Page</title>

    <style>
        body{
            background-color: black;
            color:white;
        }
        h1{
            font-size: 120px;
            
        }
        span{
            color:red;
            font-weight: bolder;
            font-size: 200px;
        }
    </style>
</head>
<body>
    <h1>THE PAGE COUNT: <span>{{count}}</span></h1>
</body>
</html>