<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>

    <!-- Internall CSS or Embedded CSS -->

    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 34px;
        }

        .card{
            padding:20px;
            border-radius: 12px;
            box-shadow: 0 4px 8px red;
            border:10px solid white;
            margin: 30px;
            font-size: 28px;
            width: 500px;
        }
    </style>
</head>

<body>
    <div class="card">
        <h1>Student Profile</h1>
        <h2>Name: {{name}}</h2>
        <h2>Age: {{age}}</h2>
        <h2>Course: {{course}}</h2>
    </div>

</body>

</html>