<html>
    <head>
        <title>Session Project</title>

        <style>
            body{
                background-color:black;
                
            }
            h1{
                font-size:50px;
                font-weight:bolder;
                color:white;
            }
            span{
                font-size:120px;
                color:red;
                font-style:italic;
            
            }
        </style>
    </head>

    <body>
        <h1> The page count: <span> {{count}} </span> </h1>
    <body>

</html>