<!DOCTYPE html>
{% extends 'testapp/base.html' %}

{% block body_block %}
    <div class="jumbotron">
        <div class="container" align="center">
            <h1>THANKS FOR USING OUR EXAM PORTAL.</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus blanditiis rerum corporis eum magnam, ipsam repudiandae magni pariatur voluptatum illo.</p>

            <h2>Please login again to enjoy...</h2>
            <a href="/accounts/login/" class="btn btn-success">Login</a>
        </div>
    </div>
{% endblock %}